0-94 sarus run --mpi --mount=type=bind,src=/scratch/snx3000/hck11/runtime/classic/ctrl,dst=/home/ecearth/ctrl --mount=type=bind,src=/scratch/snx3000/hck11/inidata,dst=/home/ecearth/inidata --mount=type=bind,src=/scratch/snx3000/hck11/EXP,dst=/home/ecearth/EXP load/library/ec-earth3 bash -c 'cd /home/ecearth/EXP && LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/ecearth/ctrl  /home/ecearth/ec-earth/sources/ifs-36r4/bin/ifsmaster-ecconf -v ecmwf -e ECE3'
95 sarus run --mpi --mount=type=bind,src=/scratch/snx3000/hck11/runtime/classic/ctrl,dst=/home/ecearth/ctrl --mount=type=bind,src=/scratch/snx3000/hck11/inidata,dst=/home/ecearth/inidata --mount=type=bind,src=/scratch/snx3000/hck11/EXP,dst=/home/ecearth/EXP load/library/ec-earth3 bash -c 'cd /home/ecearth/EXP && LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/ecearth/ctrl  /home/ecearth/EXP/amip-forcing.exe'

